body {
    background-color: rgb(148, 221, 255); /* Azul */
}

body * {
    background-color: #fff; /* Blanco */
}

.temp-table-container {
    margin-top: 20px;
    width: 50%; 
    margin: 0 auto; 
}

  .temp-table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  .temp-table th, .temp-table td {
    border: 1px solid #dddddd; 
    padding: 8px; 
    text-align: left;
  }

h1{text-align: center;}

.imagen-temp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    background-color: #fff; /* Blanco */
    padding: 400px; /* Espacio interno */
    margin: 20px auto; /* Centrar horizontalmente */
    max-width: 800px; /* Ancho máximo del contenedor */
}

.dades {background-color: #fdcc70;}
.conversion {background-color: #fdcc70;}
.temp {background-color: #fdcc70;}